* {
	margin:0px;
	padding:0px;
	border:none;
	outline:none;
	color:#222;	
}
body {
	font-size:12px;
	font-family:Arial,Verdana,Sans-serif;
	text-align:center;
	padding:30px 0;
	line-height:21px;
	//background: #222;
}
h1,h2,h3,h4,h5 {
	padding-bottom:0px !important;
	padding-top:2px !important;
	text-align: left;
        margin-bottom: 0px;
        margin-top: 5px;
}
p{
    padding-bottom:0px !important;
    padding-top:2px !important;
 text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
}
.text-muted {
    color: #999;
}
.item-row td{
    font-size: 10px;
    
}

h1 {
	font-size: 28px;
	font-style: italic;
}
h2 {
	font-size: 21px;
	font-style: italic;
}
.table tfoot > tr > td {
    border-top: none;
}
.grand-total {
    border-top:2px solid #666666 !important
}
table thead{
    font-size:12px;
     border-bottom: 2px solid #666666;
}
table tbody{
    font-size:10px;
}
h3, .h3 {
    font-size: 12px;
}
#wrapper {
	width:800px;
	margin:0 auto;	
	text-align:left;
}
#content {
	padding: 20px;
	margin-bottom: 16px;
	background: #fff;
}
.print {
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 15px;
	border: solid 1px #056fc4;
	color: #fff;
	background: url(/images/button.png) repeat-x 0 0;
}